html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #D5D5D5;
	font-family: "Segoe UI";
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #6b6b6b;
}

a:HOVER {
	color: #E5E5E5;
}

#wrapper {
	margin: 0 auto;
	width: 1310px;
	height: 710px;
	margin-top: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

#header {
	width: 100%;
	height: 82px;
	background-color: #F4F4F4;
}

#player {
	float: left;
}

#player #controls{
	width: 350px;
	height: 82px;
	float: left;
	border-right: 1px solid #E5E5E5;
}

#player #controls ul li{
	float: left;
}

#player #play{
	width: 410px;
	height: 82px;
	float: left;
	border-right: 1px solid #E5E5E5;
	position: relative;
}

#control {
	float: left;
	padding: 26px;
	overflow: hidden;
	border-right: 1px solid #E5E5E5;
}

#viewcontrol {
	overflow: hidden;
	padding: 9px 4px;
	float: left;
}

#viewcontrol a{
	float: left;
	margin:0 6px;
	background-image: url("../img/csg-5148a2e38765b.png");
	background-repeat: no-repeat;
}

#search {
	height: 30px;
	width: 205px;
	margin: 0 10px;
	float: left;
	background-color: #FFFFFF;
}

#search input{
	height: 30px;
	width: 175px;
	border: 0px;
	padding: 0px;
	margin-left: -30px;
	padding-left: 30px;
	float: right;
	font-family: "Segoe UI";
	font-size: 14px;
}

#search input:focus {
	box-shadow: 0 0 2px #27a7fa;
	outline: none;
}

#search button{
	margin-top: 7px;
	margin-left: 9px;
	float: left;
	background-image: url("../img/csg-5148a2e38765b.png");
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	border: 0px;
}

#main {
	width: 100%;
	height: 628px;
	overflow: hidden;
	background-color: #FAFAFA;

}

#main #left {
	float: left;
	width: 202px;
	height: 100%;
	background-color: #EEEEEE;
}

#library {
	padding: 35px;
	height: 320px
}

#library span {
	font-weight: bold;
	color: #7b7b7b;
}

#library ul li {
	color: #50aefa;
	padding-left: 25px;
	margin-top: 16px; 
	margin-left: 20px;
	height: 17px;
	background-image: url("../img/csg-5148a2e38765b.png");
	background-repeat: no-repeat;

}

#nowplay .title {
	background-color: #27a7fa;
	padding:7px 35px;
	color: #FAFAFA;
	z-index: 10;
	position: relative;

}

#nowplay .nowsong {
	margin-top: -18px;
	height: 202px;
	width: 202px;
	
}

#nowplay .nowsong img{
	z-index: 1;
	height: 100%;
	width: 100%;
	
}

#nowplay .footer {
	background-color: #E5E5E5;
	height: 12px;
	padding: 7px 24px;
}

#nowplay .footer a{
	margin: 0px 12px;
	width: 12px;
	height: 12px;
	display: block;
	float: left;
	background-image: url("../img/csg-5148a2e38765b.png");
	background-repeat: no-repeat;
}

#main #right {
	float: left;
	width: 1108px;
	height: 100%;
}

#right #options {
	padding: 34px 48px 16px 48px;
}

#right #options a{
	margin-right: 24px;
}

#right #options a.noactive{
	color: #E5E5E5;
	cursor: default;
}

#right #songs {
	margin: 0 20px;
	overflow-y: auto;
	height: 550px;
	text-align: center;
}

.song {
	margin:17px 22px 9px 22px;
	float: left;
}

.song.tbox a{
	width: 200px;
	height: 230px;
}

.song a {
	display: block;
	padding: 5px;
	overflow: hidden;
}

.song a:HOVER {
	box-shadow: 0 0 3px #6699FF;
}

.song p {
	color: #7b7b7b;
	margin-top: 5px;
}

.song img {
	width: 159px;
	height: 159px;
}

.song .albom {
	font-weight: bold;
}

.song.tlist span{
	float: left;
	width: 220px;
	text-align: left;
}

.song.tlist p{
	margin-top: 20px;
	font-size: 18px;
}

.song.tlist i{
	margin-top: 10px;
	color: #CCCCCC;
}


/*sprite style*/
/*#container li {
    background: url(csg-5148a2e38765b.png) no-repeat top left;
}*/

.coverflow{ background-position: 0 0; width: 20px; height: 12px; } 
.coverflow:HOVER, .coverflow.active{ background-position: 0 -94px; width: 20px; height: 12px; } 
.blocks{ background-position: 0 -32px; width: 20px; height: 12px; } 
.blocks:HOVER, .blocks.active{ background-position: 0 -63px; width: 20px; height: 12px; } 
.list{ background-position: 0 -126px; width: 20px; height: 12px; } 
.list:HOVER, .list.active{ background-position: 0 -157px; width: 20px; height: 12px; } 
.list_img{ background-position: 0 -188px; width: 20px; height: 12px; } 
.list_img:HOVER, .list_img.active{ background-position: 0 -220px; width: 20px; height: 12px; } 

.music{ background-position: 0 -252px; width: 17px; height: 17px; } 

.plus{ background-position: 0 -289px; width: 12px; height: 12px; } 
.plus:HOVER, .plus.active{ background-position: 0 -321px; width: 12px; height: 12px; } 
.repeat{ background-position: 0 -353px; width: 12px; height: 12px; } 
.repeat:HOVER, .repeat.active{ background-position: 0 -385px; width: 12px; height: 12px; } 
.shuffle{ background-position: 0 -417px; width: 12px; height: 12px; } 
.shuffle:HOVER, .shuffle.active{ background-position: 0 -449px; width: 12px; height: 12px; } 
.toggle{ background-position: 0 -481px; width: 12px; height: 12px; } 
.toggle:HOVER, .toggle.active{ background-position: 0 -513px; width: 12px; height: 12px; } 

.search{ background-position: 0 -544px; width: 16px; height: 16px; } 



/*#container li {
    background: url(csg-5149790ad69b8.png) no-repeat top left;
}*/
.next{ background-position: 0 0; width: 29px; height: 29px; } 
.next_active{ background-position: 0 -79px; width: 29px; height: 29px; } 
.pause{ background-position: 0 -158px; width: 38px; height: 38px; } 
.pause_active{ background-position: 0 -246px; width: 38px; height: 38px; } 
.play{ background-position: 0 -334px; width: 38px; height: 38px; } 
.play_active{ background-position: 0 -422px; width: 38px; height: 38px; } 
.point{ background-position: 0 -510px; width: 12px; height: 12px; } 
.point_active{ background-position: 0 -572px; width: 12px; height: 12px; } 
.prev{ background-position: 0 -634px; width: 29px; height: 29px; } 
.prev_active{ background-position: 0 -713px; width: 29px; height: 29px; } 
.vol_medium{ background-position: 0 -792px; width: 15px; height: 13px; } 
.vol_medium_active{ background-position: 0 -855px; width: 15px; height: 13px; } 
.vol_min{ background-position: 0 -918px; width: 13px; height: 13px; } 
.vol_min_active{ background-position: 0 -981px; width: 13px; height: 13px; } 



#forma {
	margin: 0 auto;
	padding: 10px 10px 5px 10px;

	width: 342px;
	height: 250px;
}

.plogin {
	width: 220px;
	height: 250px;
	padding: 0 65px; 
	text-align: center;
	margin-top: -3px;
	margin-right: -2px;
	margin-left: -2px;
	float: left;
}

.plogin img {
	margin-top: 20px;
}

.plogin .inp {
	margin-top: 12px;
}

.plogin .inp input{
	height: 30px;
	width: 175px;
	padding: 0 0 0 43px; 
	border-radius: 2px;
	background: url('../logpanel/img/inputleftbg.png') no-repeat left center;
	vertical-align: middle;
	font-family: 'Candara';
	color: #999999;
	font-weight: bold;
	margin-left: -32px;
}

.plogin .inp input:focus {
	border: 1px solid #93C273 !important;
	box-shadow: 0 0 3px #93C273 !important;;
	outline: none;
	color: #666666;
}

.valid {
    border: 1px solid #CCCCCC;
}

.notvalid {
    border:1px solid #FF6666;
    box-shadow: 0 0 3px #FF6666;
}

.plogin .user , .plogin .key{
	margin: 1px;
	width: 30px;
	height: 30px;
	float: left;
	position: relative;
}

.plogin .user {
	background: url('../logpanel/img/user.png') no-repeat center center;
}

.plogin .key {
	background: url('../logpanel/img/key.png') no-repeat center center;
}

.plogin #forgotpass {
	text-align: left;
	margin-top: 3px;
}

.plogin #forgotpass a {
	text-align: left;
	font-size: 11px;
	text-decoration: none;
	font-family: 'Candara';
	color: #BBBBBB;
	font-weight: bold;
}

.plogin #forgotpass a:HOVER {
	color: #999999;
}


.plogin .submit {
	margin-top: 10px;
}

.plogin .btn {
	width: 100px;
	height: 25px;
	border: 0px;
	border-radius: 3px; 
	cursor: pointer;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	background-color: #cccccc;
	border-bottom: 2px solid #BCBCBC;
	font-family: 'Candara';
	text-align: center;
}

.plogin .btn:HOVER {
	border: 0px;
	border-top: 1px solid #BCBCBC;
	border-bottom: 1px solid #BCBCBC;
}

.plogin .btn:ACTIVE {
	border: 0px;
	border-top: 2px solid #BCBCBC;
	outline: none;
}

.plogin .btn:FOCUS {
	outline: none;
}

.plogin .signup {
	float: left;
}

.plogin .signin {
	float: right;
}


.plshadow1 {
	width: 346px;
	height: 250px;
	margin-top: -3px;
	margin-right: -2px;
	margin-left: -2px;
	float: left;
}

.plshadow2 {
	width: 342px;
	height: 250px;
}

.panel {
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	background-color: #FFFFFF;
}






#songs .gn{
    margin-top:10px;
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
}

#songs .title{
    font-weight: bold;
}