#forma {
	margin: 0 auto;
	padding: 10px 10px 5px 10px;

	width: 342px;
	height: 250px;
}

.plogin {
	width: 220px;
	height: 250px;
	padding: 0 65px; 
	text-align: center;
	margin-top: -3px;
	margin-right: -2px;
	margin-left: -2px;
	float: left;
}

.plogin img {
	margin-top: 20px;
}

.plogin .inp {
	margin-top: 12px;
}

.plogin .inp input{
	height: 30px;
	width: 175px;
	padding: 0 0 0 43px; 
	border-radius: 2px;
	background: url('../img/rightborder.png') no-repeat 30px center;
	vertical-align: middle;
	font-family: 'Candara';
	color: #999999;
	font-weight: bold;
	margin-left: -32px;
}

.plogin .inp input:focus {
	border: 1px solid #93C273 !important;
	box-shadow: 0 0 3px #93C273 !important;;
	outline: none;
	color: #666666;
}

.valid {
    border: 1px solid #CCCCCC;
}

.notvalid {
    border:1px solid #FF6666;
    box-shadow: 0 0 3px #FF6666;
}

.plogin .user , .plogin .key{
	margin: 1px;
	width: 30px;
	height: 30px;
	float: left;
}

.plogin .user {
	background: url('../img/user.png') no-repeat center center;
}

.plogin .key {
	background: url('../img/key.png') no-repeat center center;
}

.plogin #forgotpass {
	text-align: left;
	margin-top: 3px;
}

.plogin #forgotpass a {
	text-align: left;
	font-size: 11px;
	text-decoration: none;
	font-family: 'Candara';
	color: #BBBBBB;
	font-weight: bold;
}

.plogin #forgotpass a:HOVER {
	color: #999999;
}


.plogin .submit {
	margin-top: 10px;
}

.plogin .btn {
	width: 100px;
	height: 25px;
	border: 0px;
	border-radius: 3px; 
	cursor: pointer;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	background-color: #cccccc;
	border-bottom: 2px solid #BCBCBC;
	font-family: 'Candara';
	text-align: center;
}

.plogin .btn:HOVER {
	border: 0px;
	border-top: 1px solid #BCBCBC;
	border-bottom: 1px solid #BCBCBC;
}

.plogin .btn:ACTIVE {
	border: 0px;
	border-top: 2px solid #BCBCBC;
	outline: none;
}

.plogin .btn:FOCUS {
	outline: none;
}

.plogin .signup {
	float: left;
}

.plogin .signin {
	float: right;
}


.plshadow1 {
	width: 346px;
	height: 250px;
	margin-top: -3px;
	margin-right: -2px;
	margin-left: -2px;
	float: left;
}

.plshadow2 {
	width: 342px;
	height: 250px;
}

.panel {
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	background-color: #FFFFFF;
}