<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>iPlayer</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />

        <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="js/underscore.js"></script>

        <link type="text/css" href="css/styles.css" rel="stylesheet" />
        <link type="text/css" href="jplayer/css/blue.monday/jplayer.blue.monday.css" rel="stylesheet" />

        <link type="text/css" href="logpanel/css/flip.css" rel="stylesheet" />

        <script type="text/javascript" src="js/myscript.js"></script>

        <script src="logpanel/js/utils.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="logpanel/css/validationEngine.jquery.css" type="text/css"/>
        <script src="logpanel/js/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8"></script>
        <script src="logpanel/js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

        <link rel="stylesheet" href="css/jquery.ambiance.css" type="text/css"/>
        <script src="js/jquery.ambiance.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/template" class="box">
         
            <% _.each( rc.Albums, function( Album ){ %>
                
                <div class="song tbox">
                    <a href="#">
                        <img src="<%- Album.Img %>" alt="">
                        <p class="albom"><%- Album.Title %></p>
                        <p><%- Album.Artist %></p>
                    </a>
                </div>

            <% }); %>
 
    </script>

    <script type="text/template" class="list">
        
            <% _.each( rc.Albums, function( Album ){ %>
                
                <div class="song tlist">
                    <a href="#">
                        <span>
                        <img src="<%- Album.Img %>" alt="">
                        </span>
                        <span>
                        <p class="albom"><%- Album.Title %></p>
                        <p><%- Album.Artist %></p>
                        <i><%- Album.Genre %></i>
                        <p>(<%- Album.Audio.length %>)</p>
                        </span>
                    </a>
                </div>

            <% }); %>
 
    </script>

    </head>
    <body>
        <div id="page">

    <section class="container">
    <div id="card">
      <figure class="front">
                <div id="forma">
                <div class="plshadow2 panel">
                <div class="plshadow1 panel">
                <div class="plogin panel">
                    <img src='logpanel/img/foto.png' alt='foto'>
                    <form id="formsignin" method="POST">
                        <div class="inpemail inp">
                            <div class="user"></div>
                            <input class="valid validate[required]" type="text" name="login" placeholder="login" >
                        </div>
                        <div class="inppass inp">
                            <div class="key"></div>
                            <input class="valid validate[required]" type="password" name="pass" placeholder="password" >
                        </div>
                        <div id="forgotpass"><a href="#">Forgot your password?</a></div>
                        <div class="submit">
                            <button type="submit" class="btn signin" name="signin">Sign In</button>
                            <button id="signup" class="btn signup" name="signup">Sign Up</button>
                        </div>
                    </form>
                </div>

                </div>
                </div>

                </div>
      </figure>
      <figure class="back">

                <div id="forma">
                <div class="plshadow2 panel">
                <div class="plshadow1 panel">
                <div class="plogin panel">
                    <form id="formsignup" method="POST">
                        <br/>
                        <div class="inpemail inp">
                            <div class="user"></div>
                            <input class="valid validate[required]" type="text" name="login" placeholder="login">
                        </div>
                        <div class="inpemail inp">
                            <div class="user"></div>
                            <input class="valid validate[required,custom[email]]" type="text" name="email" placeholder="email">
                        </div>
                        <div class="inppass inp">
                            <div class="key"></div>
                            <input class="valid validate[required,minSize[6]]"  id="pass" type="password" name="pass" placeholder="password">
                        </div>
                        <div class="inppass inp">
                            <div class="key"></div>
                            <input class="valid validate[required,equals[pass]]" type="password" name="pass2" placeholder="password">
                        </div>
                        <div class="submit">
                            <button type="submit" class="btn signup" name="signup">Sign Up</button>
                            <button id="signin" class="btn signin" name="signin">Sign In</button>
                        </div>
                    </form>
                </div>

                </div>
                </div>

                </div>

      </figure>
    </div>
  </section>

    </div>
    </body>
</html>
